.vagrant/
.dev-env-context
.update-check-context
dev-env-project/
.DS_Store
apps/
.docker-compose-file-list
docker_storage.vdi
.postgres_init.sql
.db2_init.sql
.commodities.yml
mpapis.asc
logstash*.log
adfs_Dev.crt